/.quarto/
**/__pycache__
/data/
/_site/
/code/setup/__pycache__
/code/setup/private.txt
build.sh

# graph outputs - don't want to dirty up repo
/scripts/testing_2025/day1
/scripts/testing_2025/day2
/scripts/testing_2025/day3


/data/belgium_fp1.csv
/data/constructor_results.csv
/data/explore.ipynb
/data/races_circuits_weather.feather
/data/sprint_results.csv
/data/constructor_standings.csv
/data/lap_times.csv
/data/raw_model_data.feather
/data/status.csv
/data/clean2_model_data.feather
/data/pit_stops.csv
/data/regulations.csv
/data/track_data.feather
/data/clean_model_data.feather
/data/driver_standings.csv
/data/qualifying.csv
/data/results.csv
/data/clean_model_data2.csv
/data/races.csv
/data/seasons.csv