/.quarto/
**/__pycache__
/data/
/_site/
/code/setup/private.txt
build.sh

# graph outputs - don't want to dirty up repo
/scripts/testing_2025/day1
/scripts/testing_2025/day2
/scripts/testing_2025/day3
